<?xml version="1.0"?>
<robot name="first_robot">
    <!-- ctrol+/ 快速生成注释 -->
    <!-- 机器人的身体部分 -->
    <link name="base_link">
        <!--机器人的部件visual描述  -->
        <visual>
            <!-- 沿着自己的几何中心的偏移量和旋转量 -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
             <!--几何形状 -->
            <geometry>
                    <!--  cylider表示圆柱体，radius表示半径，length表示高度 ，这里半径0.10，高度0.12-->
                    <cylinder radius="0.10" length="0.12"/>
                    <!-- 材质和颜色 -->
            </geometry>
            <material name="white">
                    <color rgba="1.0 1.0 1.0 0.5"/>
            </material>
        </visual>
    </link>
    <!-- 机器人的IMU惯性测量部分 -->
    <link name="imu_link">
        <!--机器人的部件visual描述  -->
        <visual>
            <!-- 沿着自己的几何中心的偏移量和旋转量 -->
            <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
             <!--几何形状 -->
            <geometry>
                    <box size="0.02 0.02 0.02"/>
            </geometry>
                    <!-- 材质和颜色 -->
            <material name="black">
                    <color rgba="0.0 0.0 0.0 0.5"/>
            </material>
        </visual>
    </link>

    <!--把IMU固定到base_link上面，就涉及到机器人关节，涉及
    joint  -->
    <joint name="joint_imu" type="fixed">
        <parent link="base_link"/>
        <child link="imu_link"/>
        <!-- 把imu建在base_link的几何中心上3厘米 -->
        <origin xyz="0.0 0.0 0.03"/>
    </joint>
</robot>
